# Calling Necessary Libraries AND Getting Today's Date

In [37]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from datetime import datetime, timedelta
from dateutil import parser
from scipy.stats import poisson
import warnings

warnings.filterwarnings('ignore')
pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Get today's date
given_date = "2025-02-15" #year-month-day
threshold = 70 #threshold for percentages to highlight in final dataframe (between 1 and 100)

wanted_leagues = [ 'austria', 'australia', 'belgium', 'brazil', 'denmark', 
                  'england', 'england2', 'england3', 'england4', 'england5', 'france', 'france2',
                  'germany', 'germany2', 'greece', 'italy', 'italy2',
                   'mexico2', 'netherlands', 'norway','poland', 'portugal', 'portugal2',
                   'saudiarabia','scotland', 'scotland2', 'scotland3',
                  'spain', 'spain2', 'sweden', 'switzerland', 'turkey'] #argent, columbia, urug, peru, ecuado, usa

In [38]:
#Calculating Days between given date and today
# Today's date
today = datetime.now().date()

# Specific date
specific_date = datetime.strptime(given_date, "%Y-%m-%d").date()

# Calculate the difference in days
difference = specific_date - today

# Add one day to the difference
days_until_specific_date = difference.days + 1

# Scraping Today's Matches and Leagues

In [39]:
URL = "https://www.soccerstats.com/matches.asp?matchday=" + str(days_until_specific_date) + "&listing=2"
page = requests.get(URL)
liqa = []
soup = BeautifulSoup(page.content, "html.parser")
results = soup.find(id="btable")
sth = results.find_all("tr", attrs={'height': '34'})

# Converting Date and Collecting Leagues for Analysis

In [40]:
from dateutil import parser

day_abbreviations = {0: "Mo", 1: "Tu", 2: "We", 3: "Th", 4: "Fr", 5: "Sa", 6: "Su"}
given_date_parsed = parser.parse(given_date)

# Manually format the day to remove leading zeros
day = given_date_parsed.day
month = given_date_parsed.strftime('%b')

# Format the date as "Su 1 Oct" or "Tu 10 Oct" without leading zero for single-digit days
formatted_date = f"{day_abbreviations[given_date_parsed.weekday()]} {day} {month}"

# Scraping the Web for the League Statistics

In [41]:
final =  pd.DataFrame()
liqa = ''
unique_leagues = wanted_leagues
next_matches = pd.DataFrame()

for i in unique_leagues:
    URL = "https://www.soccerstats.com/results.asp?league=" + i + "&pmtype=bydate"
    page = requests.get(URL)
    liqa = i
    soup = BeautifulSoup(page.content, "html.parser")
    results = soup.find(id="btable")
    sth = results.find_all("tr", class_="odd")
    sth


    date, league, home, away, ft, ht = [], [], [], [], [],[]
    for i in sth:
        date.append(i.find_all("td", align = 'right')[0].get_text(strip=True))
        league.append(liqa.capitalize())
        home.append(i.find_all("td", align = 'right')[1].get_text(strip=True))
        away.append(i.find("td", align = "left").get_text(strip = True))
        ft.append(i.find_all("td", align = 'center')[0].get_text(strip = True))
        try:
            ht.append(i.find_all("td", align = 'center')[2].get_text(strip = True))
        except IndexError as e:
            ht.append('NA')#print("Last output before error occurred:", i.find_all("td", align = 'center'))

    data = {'Date': date, 'League': league,'Home': home, 'Away': away, 'FT': ft, 'HT': ht}

# Create a DataFrame from the dictionary
    df = pd.DataFrame(data)

# Replace empty strings with NaN
    next_df = df[(df['Date'] == formatted_date) & (df['HT'] == '')]
    next_matches = pd.concat([next_matches, next_df], ignore_index = True)
    df.replace('', pd.NA, inplace=True)

# Drop rows with NaN values
    df_cleaned = df.dropna()

#For Half-Time Results
    hthg, htag = [], []
    for i in df_cleaned['HT']:
        if i == 'NA':
            hthg.append('NA')
            htag.append('NA')
        elif i == '+' or i == '-':
            hthg.append('NA')
            htag.append('NA')
        else:
            try:
                hthg.append(int(i[1]))
                htag.append(int(i[3]))
            except IndexError as e:
                print("Last output before error occurred:", i)



#For Full-Time Results
    hg, ag, tg = [], [], []
    for i in df_cleaned['FT']:
        if len(i) < 5 or ':' in i:
            hg.append('NA')
            ag.append('NA')
            tg.append('NA')
        else:
            try:
                hghg = int(i.split(' - ')[0])
                hg.append(hghg)
                agag = int(i.split(' - ')[1])
                ag.append(agag)
                tg.append(hghg + agag)
            except:
                print(hghg + agag)

    
    df_cleaned['FTHG'], df_cleaned['FTAG'], df_cleaned['FTTG'] = hg, ag, tg
    df_cleaned['HTHG'], df_cleaned['HTAG'] = hthg, htag
    df_cleaned['HTTG'] = df_cleaned['HTHG'] + df_cleaned['HTAG']
    
    final = pd.concat([final, df_cleaned], ignore_index=True)
    
final = final[final['HT'] != 'NA']

# Define current year
current_year = datetime.now().year

# Function to parse and assign the correct year
def parse_date(date_str):
    # Extract day and month
    date_obj = datetime.strptime(date_str[3:], '%d %b')
    # Assign correct year
    full_date = date_obj.replace(year=current_year)
    
    # If the parsed date is already in the future, assign the previous year
    if full_date > datetime.now():
        full_date = full_date.replace(year=current_year - 1)
    
    return full_date

# Apply the function to parse dates
final['Date'] = final['Date'].apply(parse_date)

# Find the latest date for each league
latest_dates = final.groupby('League')['Date'].max().rename('latest_date')

# Merge with the original DataFrame
final = final.merge(latest_dates, on='League')

# Calculate the time difference in days
final['time_diff'] = (final['latest_date'] - final['Date']).dt.days
combined_df = pd.concat([final.head(), final.tail()])
combined_df

,Date,League,Home,Away,FT,HT,FTHG,FTAG,FTTG,HTHG,HTAG,HTTG,latest_date,time_diff
0,2024-08-02,Austria,Grazer AK,Salzburg,2 - 3,(2-3),2,3,5,2,3,5,2025-02-09,191
1,2024-08-03,Austria,Altach,Tirol,1 - 2,(0-1),1,2,3,0,1,1,2025-02-09,190
2,2024-08-03,Austria,Hartberg,LASK Linz,1 - 2,(0-1),1,2,3,0,1,1,2025-02-09,190
3,2024-08-03,Austria,Wolfsberger AC,A. Klagenfurt,4 - 1,(3-0),4,1,5,3,0,3,2025-02-09,190
4,2024-08-04,Austria,BW Linz,Austria Wien,1 - 0,(0-0),1,0,1,0,0,0,2025-02-09,189
6659,2025-02-09,Turkey,Kasimpasa,Rizespor,3 - 2,(2-1),3,2,5,2,1,3,2025-02-10,1
6660,2025-02-09,Turkey,Alanyaspor,Fenerbahce,0 - 2,(0-2),0,2,2,0,2,2,2025-02-10,1
6661,2025-02-09,Turkey,Antalyaspor,Basaksehir,0 - 0,(0-0),0,0,0,0,0,0,2025-02-10,1
6662,2025-02-10,Turkey,Bodrumspor,Goztepe,0 - 0,(0-0),0,0,0,0,0,0,2025-02-10,0
6663,2025-02-10,Turkey,Trabzonspor,Eyupspor,1 - 0,(0-0),1,0,1,0,0,0,2025-02-10,0

In [42]:
next_leagues = next_matches['League'].unique().tolist()
pd.concat([next_matches.head(), next_matches.tail()])

          Date       League            Home            Away     FT HT
0    Sa 15 Feb      Austria         BW Linz          Altach  16:00
1    Sa 15 Feb      Austria        Salzburg           Tirol  16:00
2    Sa 15 Feb      Austria  Wolfsberger AC      Sturm Graz  16:00
3    Sa 15 Feb    Australia  Melbourne City     Perth Glory  06:00
4    Sa 15 Feb    Australia  Western United        Auckland  07:00
128  Sa 15 Feb  Switzerland            Sion       FC Zurich  17:00
129  Sa 15 Feb  Switzerland      Winterthur  BSC Young Boys  19:30
130  Sa 15 Feb       Turkey       Gaziantep       Sivasspor  10:30
131  Sa 15 Feb       Turkey      Basaksehir      Bodrumspor  13:00
132  Sa 15 Feb       Turkey        Besiktas     Trabzonspor  16:00

# Calculating Functions Needed for Dixon-Coles Model

In [43]:
from scipy.optimize import minimize
from scipy.stats import poisson

def rho_correction(x, y, lambda_x, mu_y, rho):
    if x==0 and y==0:
        return 1- (lambda_x * mu_y * rho)
    elif x==0 and y==1:
        return 1 + (lambda_x * rho)
    elif x==1 and y==0:
        return 1 + (mu_y * rho)
    elif x==1 and y==1:
        return 1 - rho
    else:
        return 1.0

def dc_log_like(x, y, alpha_x, beta_x, alpha_y, beta_y, rho, gamma):
    lambda_x, mu_y = np.exp(alpha_x + beta_y + gamma), np.exp(alpha_y + beta_x) 
    return (np.log(rho_correction(x, y, lambda_x, mu_y, rho)) + 
            np.log(poisson.pmf(x, lambda_x)) + np.log(poisson.pmf(y, mu_y)))

def solve_parameters_decay(dataset, half_or_full = 'full', xi=0.001, debug = False, init_vals=None, 
                           options={'disp': True, 'maxiter':100},
                     constraints = [{'type':'eq', 'fun': lambda x: sum(x[:20])-20}] , **kwargs):
    teams = np.sort(dataset['Home'].unique())
    # check for no weirdness in dataset
    away_teams = np.sort(dataset['Away'].unique())
    if not np.array_equal(teams, away_teams):
        raise ValueError("Home Teams Not Equal to Away Teams")
    n_teams = len(teams)
    if init_vals is None:
        # random initialisation of model parameters
        init_vals = np.concatenate((np.random.uniform(0,1,(n_teams)), # attack strength
                                      np.random.uniform(0,-1,(n_teams)), # defence strength
                                      np.array([0,1.0]) # rho (score correction), gamma (home advantage)
                                     ))
        
    def dc_log_like_decay(x, y, alpha_x, beta_x, alpha_y, beta_y, rho, gamma, t, xi=xi):
        lambda_x, mu_y = np.exp(alpha_x + beta_y + gamma), np.exp(alpha_y + beta_x) 
        return  np.exp(-xi*t) * (np.log(rho_correction(x, y, lambda_x, mu_y, rho)) + 
                                  np.log(poisson.pmf(x, lambda_x)) + np.log(poisson.pmf(y, mu_y)))

    def estimate_paramters(params):
        score_coefs = dict(zip(teams, params[:n_teams]))
        defend_coefs = dict(zip(teams, params[n_teams:(2*n_teams)]))
        rho, gamma = params[-2:]
        if half_or_full == 'full':
            log_like = [dc_log_like_decay(row.FTHG, row.FTAG, score_coefs[row.Home], defend_coefs[row.Home],
                                      score_coefs[row.Away], defend_coefs[row.Away], 
                                      rho, gamma, row.time_diff, xi=xi) for row in dataset.itertuples()]
        elif half_or_full == 'half':
            log_like = [dc_log_like_decay(row.HTHG, row.HTAG, score_coefs[row.Home], defend_coefs[row.Home],
                                      score_coefs[row.Away], defend_coefs[row.Away], 
                                      rho, gamma, row.time_diff, xi=xi) for row in dataset.itertuples()]
        return -sum(log_like)
    opt_output = minimize(estimate_paramters, init_vals, options=options, constraints = constraints)
    if debug:
        # sort of hacky way to investigate the output of the optimisation process
        return opt_output
    else:
        return dict(zip(["attack_"+team for team in teams] + 
                        ["defence_"+team for team in teams] +
                        ['rho', 'home_adv'],
                        opt_output.x))

# Calculating Lambda Values for Dixon-Coles Model

In [44]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
stats_df = pd.DataFrame()
full_time_models = []
half_time_models = []

for league in next_leagues:
    league_df = final[final['League'] == league.capitalize()]
    
    full_time_estimates = solve_parameters_decay(league_df, half_or_full = 'full')
    full_time_models.append(full_time_estimates)

    half_time_estimates = solve_parameters_decay(league_df, half_or_full = 'half')
    half_time_models.append(half_time_estimates)

Optimization terminated successfully    (Exit mode 0)
            Current function value: 248.81961028772938
            Iterations: 34
            Function evaluations: 955
            Gradient evaluations: 34
Optimization terminated successfully    (Exit mode 0)
            Current function value: 165.25205110699304
            Iterations: 39
            Function evaluations: 1086
            Gradient evaluations: 39
Optimization terminated successfully    (Exit mode 0)
            Current function value: 284.8244561762207
            Iterations: 36
            Function evaluations: 1089
            Gradient evaluations: 36
Optimization terminated successfully    (Exit mode 0)
            Current function value: 201.36073110272062
            Iterations: 37
            Function evaluations: 1110
            Gradient evaluations: 37
Optimization terminated successfully    (Exit mode 0)
            Current function value: 501.8139279309206
            Iterations: 40
            Function evaluations: 1454
            Gradient evaluations: 40
Optimization terminated successfully    (Exit mode 0)
            Current function value: 351.7623869522353
            Iterations: 39
            Function evaluations: 1409
            Gradient evaluations: 39
Optimization terminated successfully    (Exit mode 0)
            Current function value: 640.8995586677686
            Iterations: 50
            Function evaluations: 2220
            Gradient evaluations: 50
Optimization terminated successfully    (Exit mode 0)
            Current function value: 452.1013160580118
            Iterations: 44
            Function evaluations: 1940
            Gradient evaluations: 44
Optimization terminated successfully    (Exit mode 0)
            Current function value: 913.2610615130812
            Iterations: 66
            Function evaluations: 3462
            Gradient evaluations: 66
Optimization terminated successfully    (Exit mode 0)
            Current function value: 622.704715982298
            Iterations: 75
            Function evaluations: 3914
            Gradient evaluations: 75
Optimization terminated successfully    (Exit mode 0)
            Current function value: 907.1222159239444
            Iterations: 57
            Function evaluations: 2989
            Gradient evaluations: 57
Optimization terminated successfully    (Exit mode 0)
            Current function value: 637.768217590118
            Iterations: 40
            Function evaluations: 2085
            Gradient evaluations: 40
Optimization terminated successfully    (Exit mode 0)
            Current function value: 903.0259934888493
            Iterations: 31
            Function evaluations: 1628
            Gradient evaluations: 31
Optimization terminated successfully    (Exit mode 0)
            Current function value: 626.2542368105156
            Iterations: 40
            Function evaluations: 2085
            Gradient evaluations: 40
Optimization terminated successfully    (Exit mode 0)
            Current function value: 890.3580665436581
            Iterations: 41
            Function evaluations: 2148
            Gradient evaluations: 41
Optimization terminated successfully    (Exit mode 0)
            Current function value: 590.5490510341625
            Iterations: 93
            Function evaluations: 4901
            Gradient evaluations: 93
Optimization terminated successfully    (Exit mode 0)
            Current function value: 487.4620133283204
            Iterations: 35
            Function evaluations: 1412
            Gradient evaluations: 35
Optimization terminated successfully    (Exit mode 0)
            Current function value: 338.972781835235
            Iterations: 38
            Function evaluations: 1524
            Gradient evaluations: 38
Optimization terminated successfully    (Exit mode 0)
            Current function value: 490.73223987575307
            Iterations: 38
            Function evaluations: 1527
            Gradient evaluations: 38
Optimization terminated successfully    (Exit mode 0)
            Current function value: 328.16810593843115
            Iterations: 58
            Function evaluations: 2340
            Gradient evaluations: 58
Optimization terminated successfully    (Exit mode 0)
            Current function value: 517.0665746942545
            Iterations: 43
            Function evaluations: 1735
            Gradient evaluations: 43
Optimization terminated successfully    (Exit mode 0)
            Current function value: 376.36282646338356
            Iterations: 33
            Function evaluations: 1325
            Gradient evaluations: 33
Optimization terminated successfully    (Exit mode 0)
            Current function value: 522.002168263942
            Iterations: 42
            Function evaluations: 1693
            Gradient evaluations: 42
Optimization terminated successfully    (Exit mode 0)
            Current function value: 350.14737623959
            Iterations: 51
            Function evaluations: 2046
            Gradient evaluations: 51
Optimization terminated successfully    (Exit mode 0)
            Current function value: 359.3949001277109
            Iterations: 39
            Function evaluations: 1253
            Gradient evaluations: 39
Optimization terminated successfully    (Exit mode 0)
            Current function value: 240.43718815710082
            Iterations: 42
            Function evaluations: 1344
            Gradient evaluations: 42
Optimization terminated successfully    (Exit mode 0)
            Current function value: 601.4151752714073
            Iterations: 45
            Function evaluations: 1999
            Gradient evaluations: 45
Optimization terminated successfully    (Exit mode 0)
            Current function value: 416.01865233067997
            Iterations: 39
            Function evaluations: 1720
            Gradient evaluations: 39
Optimization terminated successfully    (Exit mode 0)
            Current function value: 614.836350811205
            Iterations: 44
            Function evaluations: 1950
            Gradient evaluations: 44
Optimization terminated successfully    (Exit mode 0)
            Current function value: 435.72369664616986
            Iterations: 39
            Function evaluations: 1721
            Gradient evaluations: 39
Optimization terminated successfully    (Exit mode 0)
            Current function value: 136.27592185438155
            Iterations: 28
            Function evaluations: 1122
            Gradient evaluations: 28
Optimization terminated successfully    (Exit mode 0)
            Current function value: 96.66626825408338
            Iterations: 28
            Function evaluations: 1118
            Gradient evaluations: 28
Optimization terminated successfully    (Exit mode 0)
            Current function value: 516.2245626700408
            Iterations: 43
            Function evaluations: 1737
            Gradient evaluations: 43
Optimization terminated successfully    (Exit mode 0)
            Current function value: 353.85532750638964
            Iterations: 37
            Function evaluations: 1483
            Gradient evaluations: 37
Optimization terminated successfully    (Exit mode 0)
            Current function value: 443.76331244806977
            Iterations: 52
            Function evaluations: 2087
            Gradient evaluations: 52
Optimization terminated successfully    (Exit mode 0)
            Current function value: 310.752418225147
            Iterations: 36
            Function evaluations: 1445
            Gradient evaluations: 36
Optimization terminated successfully    (Exit mode 0)
            Current function value: 464.0565268949398
            Iterations: 33
            Function evaluations: 1329
            Gradient evaluations: 33
Optimization terminated successfully    (Exit mode 0)
            Current function value: 321.79117932957234
            Iterations: 35
            Function evaluations: 1404
            Gradient evaluations: 35
Optimization terminated successfully    (Exit mode 0)
            Current function value: 465.011560550181
            Iterations: 36
            Function evaluations: 1445
            Gradient evaluations: 36
Optimization terminated successfully    (Exit mode 0)
            Current function value: 332.73947011292046
            Iterations: 38
            Function evaluations: 1524
            Gradient evaluations: 38
Optimization terminated successfully    (Exit mode 0)
            Current function value: 426.71565180973255
            Iterations: 44
            Function evaluations: 1769
            Gradient evaluations: 44
Optimization terminated successfully    (Exit mode 0)
            Current function value: 282.3230666696899
            Iterations: 35
            Function evaluations: 1404
            Gradient evaluations: 35
Optimization terminated successfully    (Exit mode 0)
            Current function value: 388.64682485192895
            Iterations: 37
            Function evaluations: 1044
            Gradient evaluations: 37
Optimization terminated successfully    (Exit mode 0)
            Current function value: 259.2059328282125
            Iterations: 36
            Function evaluations: 1008
            Gradient evaluations: 36
Optimization terminated successfully    (Exit mode 0)
            Current function value: 739.0494073391735
            Iterations: 38
            Function evaluations: 922
            Gradient evaluations: 38
Optimization terminated successfully    (Exit mode 0)
            Current function value: 773.3843816238447
            Iterations: 41
            Function evaluations: 991
            Gradient evaluations: 41
Optimization terminated successfully    (Exit mode 0)
            Current function value: 720.3820942302931
            Iterations: 42
            Function evaluations: 1012
            Gradient evaluations: 42
Optimization terminated successfully    (Exit mode 0)
            Current function value: 776.3274868363866
            Iterations: 41
            Function evaluations: 987
            Gradient evaluations: 41
Optimization terminated successfully    (Exit mode 0)
            Current function value: 549.4950639252402
            Iterations: 37
            Function evaluations: 1640
            Gradient evaluations: 37
Optimization terminated successfully    (Exit mode 0)
            Current function value: 372.8938817795013
            Iterations: 42
            Function evaluations: 1853
            Gradient evaluations: 42
Optimization terminated successfully    (Exit mode 0)
            Current function value: 707.155459006149
            Iterations: 64
            Function evaluations: 3088
            Gradient evaluations: 64
Optimization terminated successfully    (Exit mode 0)
            Current function value: 468.31793186696484
            Iterations: 41
            Function evaluations: 1973
            Gradient evaluations: 41
Optimization terminated successfully    (Exit mode 0)
            Current function value: 362.4997549142761
            Iterations: 34
            Function evaluations: 964
            Gradient evaluations: 34
Optimization terminated successfully    (Exit mode 0)
            Current function value: 251.00488506040696
            Iterations: 39
            Function evaluations: 1091
            Gradient evaluations: 39
Optimization terminated successfully    (Exit mode 0)
            Current function value: 539.6698728338354
            Iterations: 40
            Function evaluations: 1692
            Gradient evaluations: 40
Optimization terminated successfully    (Exit mode 0)
            Current function value: 368.6086211554908
            Iterations: 35
            Function evaluations: 1474
            Gradient evaluations: 35

In [45]:
full_time_models[-1]

{'attack_Adana Demirspor': 0.6812092299587847,
 'attack_Alanyaspor': 0.9194931584026722,
 'attack_Antalyaspor': 0.9239886206895429,
 'attack_Basaksehir': 1.3272648514308578,
 'attack_Besiktas': 1.1250596708613596,
 'attack_Bodrumspor': 0.34094284001024305,
 'attack_Eyupspor': 1.1900598859358338,
 'attack_Fenerbahce': 1.6750177608907286,
 'attack_Galatasaray': 1.665677524703966,
 'attack_Gaziantep': 0.9595430009859178,
 'attack_Goztepe': 1.3132665000813182,
 'attack_Hatayspor': 0.7586240284356824,
 'attack_Kasimpasa': 1.364521865717682,
 'attack_Kayserispor': 0.8452704759903035,
 'attack_Konyaspor': 1.0354158492608656,
 'attack_Rizespor': 0.8579080547974172,
 'attack_Samsunspor': 1.2261260602140704,
 'attack_Sivasspor': 0.9695902818931625,
 'attack_Trabzonspor': 1.2643599682590099,
 'defence_Adana Demirspor': -0.4433396285194161,
 'defence_Alanyaspor': -1.0584568172235111,
 'defence_Antalyaspor': -0.6529644237715589,
 'defence_Basaksehir': -0.9368151944114415,
 'defence_Besiktas': -1.279062055723972,
 'defence_Bodrumspor': -1.0371486382095776,
 'defence_Eyupspor': -1.4133715124161432,
 'defence_Fenerbahce': -1.237674406527923,
 'defence_Galatasaray': -1.212323138200909,
 'defence_Gaziantep': -0.9984817383733493,
 'defence_Goztepe': -1.0715850937744615,
 'defence_Hatayspor': -0.6823526017727156,
 'defence_Kasimpasa': -0.5639168009455104,
 'defence_Kayserispor': -0.5922168529792792,
 'defence_Konyaspor': -0.825783135334974,
 'defence_Rizespor': -0.8378328563204758,
 'defence_Samsunspor': -1.2379289241946063,
 'defence_Sivasspor': -0.7117912026834974,
 'defence_Trabzonspor': -1.1193954321349942,
 'rho': -0.22568805353155152,
 'home_adv': 0.30179609411147257}

# Calculating Probability Matrices for Half/Full Time

In [46]:
#First Function needs work to make it more understandable and a df rather than matrix!
def dixon_coles_simulate_match(params_dict, homeTeam, awayTeam, max_goals=10):
    team_avgs = [np.exp(params_dict['attack_'+homeTeam] + params_dict['defence_'+awayTeam] + params_dict['home_adv']),
                 np.exp(params_dict['defence_'+homeTeam] + params_dict['attack_'+awayTeam])]
    team_pred = [[poisson.pmf(i, team_avg) for i in range(0, max_goals+1)] for team_avg in team_avgs]
    output_matrix = np.outer(np.array(team_pred[0]), np.array(team_pred[1]))
    correction_matrix = np.array([[rho_correction(home_goals, away_goals, team_avgs[0],
                                                   team_avgs[1], params_dict['rho']) for away_goals in range(2)]
                                   for home_goals in range(2)])
    output_matrix[:2,:2] = output_matrix[:2,:2] * correction_matrix
    return output_matrix

full_time_matrices = []
half_time_matrices = []

for i in range(len(next_matches)):
    my_league = next_matches['League'].iloc[i]
    league_index = next_leagues.index(my_league)
    ft_match_score_matrix = dixon_coles_simulate_match(full_time_models[league_index], 
                                                       next_matches['Home'].iloc[i], next_matches['Away'].iloc[i], max_goals = 8)
    ht_match_score_matrix = dixon_coles_simulate_match(half_time_models[league_index], 
                                                       next_matches['Home'].iloc[i], next_matches['Away'].iloc[i], max_goals = 4)
    full_time_matrices.append(ft_match_score_matrix)
    half_time_matrices.append(ht_match_score_matrix)

full_time_matrices[0]

array([[1.66239272e-01, 6.77681574e-02, 2.52281780e-02, 4.91535559e-03,
        7.18265918e-04, 8.39664059e-05, 8.17983650e-06, 6.83025459e-07,
        4.99042133e-08],
       [1.77595395e-01, 1.33205886e-01, 3.35072699e-02, 6.52842017e-03,
        9.53978123e-04, 1.11521530e-04, 1.08642007e-05, 9.07172859e-07,
        6.62812012e-08],
       [1.30260152e-01, 7.61380747e-02, 2.22516492e-02, 4.33542082e-03,
        6.33521818e-04, 7.40596885e-05, 7.21474423e-06, 6.02439180e-07,
        4.40162998e-08],
       [5.76691411e-02, 3.37080626e-02, 9.85131272e-03, 1.91938970e-03,
        2.80474562e-04, 3.27879136e-05, 3.19413187e-06, 2.66713569e-07,
        1.94870201e-08],
       [1.91485833e-02, 1.11924962e-02, 3.27105066e-03, 6.37318206e-04,
        9.31293652e-05, 1.08869680e-05, 1.06058628e-06, 8.85601361e-08,
        6.47051127e-09],
       [5.08650880e-03, 2.97310405e-03, 8.68901251e-04, 1.69293186e-04,
        2.47382967e-05, 2.89194547e-06, 2.81727446e-07, 2.35245556e-08,
        1.71878577e-09],
       [1.12595674e-03, 6.58130496e-04, 1.92341203e-04, 3.74749777e-05,
        5.47610417e-06, 6.40165117e-07, 6.23635838e-08, 5.20742871e-09,
        3.80472836e-10],
       [2.13637173e-04, 1.24872593e-04, 3.64945023e-05, 7.11044038e-06,
        1.03902696e-06, 1.21463872e-07, 1.18327634e-08, 9.88048925e-10,
        7.21902876e-11],
       [3.54682688e-05, 2.07314797e-05, 6.05885577e-06, 1.18048281e-06,
        1.72500352e-07, 2.01655602e-08, 1.96448786e-09, 1.64036925e-10,
        1.19851077e-11]])

# Calculating Probabilities of Dixon-Coles Model

In [47]:
ft1, ftx, ft2, ft_score = [], [], [], []
over_15, over_25, under_35, under_45, btts = [], [], [], [], []
ht1, htx, ht2, ht_score, ht_over05, ht_under15 = [], [], [], [], [], []
ho05, ao05, ho15, ao15, hu25, au25 = [], [], [], [], [], []

# Helper function to calculate total goals for each score
def total_goals(i, j):
    return i + j

for i in range(len(next_matches)):
    my_matrix = full_time_matrices[i]
    ht_matrix = half_time_matrices[i]

    ft1.append(round(np.sum(np.tril(my_matrix, k=-1)) * 100, 2)) # Sum of lower triangular values (home win)
    ftx.append(round(np.sum(np.diag(my_matrix)) * 100, 2)) # Sum of diagonal values (draw)
    ft2.append(round(np.sum(np.triu(my_matrix, k=1)) * 100, 2)) # Sum of higher triangular values (away_win)
    
    max_score = np.unravel_index(np.argmax(my_matrix), my_matrix.shape) # Find the index of the maximum score
    home_goals, away_goals = max_score
    ft_score.append(f"{home_goals}-{away_goals}") # Format the score as 'home-away'

    # Calculate the probabilities
    over_15.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) > 1.5]) * 100, 2))
    over_25.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) > 2.5]) * 100, 2))
    under_35.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) <= 3.5]) * 100, 2))
    under_45.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) <= 4.5]) * 100, 2))

    # Calculate BTTS (both teams to score and goals != 0)
    btts.append(round(np.sum([my_matrix[i, j] for i in range(1, my_matrix.shape[0]) for j in range(1, my_matrix.shape[1])]) * 100, 2)) 

    # Calculate statistics for Half Time
    ht1.append(round(np.sum(np.tril(ht_matrix, k=-1)) * 100, 2)) # Sum of lower triangular values (home win)
    htx.append(round(np.sum(np.diag(ht_matrix)) * 100, 2)) # Sum of diagonal values (draw)
    ht2.append(round(np.sum(np.triu(ht_matrix, k=1)) * 100, 2)) # Sum of higher triangular values (away_win)

    ht_max_score = np.unravel_index(np.argmax(ht_matrix), ht_matrix.shape) # Find the index of the maximum score
    ht_hogs, ht_awgs = ht_max_score
    ht_score.append(f"{ht_hogs}-{ht_awgs}") # Format the score as 'home-away'

    ht_over05.append(round(np.sum([ht_matrix[i, j] for i in range(ht_matrix.shape[0]) for j in range(ht_matrix.shape[1]) if total_goals(i, j) > 0.5]) * 100, 2))   
    ht_under15.append(round(np.sum([ht_matrix[i, j] for i in range(ht_matrix.shape[0]) for j in range(ht_matrix.shape[1]) if total_goals(i, j) < 1.5]) * 100, 2)) 

    ho05.append(round(np.sum(my_matrix[1:,:]) * 100, 2))
    ao05.append(round(np.sum(my_matrix[:,1:]) * 100, 2))
    ho15.append(round(np.sum(my_matrix[2:,:]) * 100, 2))
    ao15.append(round(np.sum(my_matrix[:,2:]) * 100, 2))
    hu25.append(round(np.sum(my_matrix[:3,:]) * 100, 2))
    au25.append(round(np.sum(my_matrix[:,:3]) * 100, 2))
    

# Combine lists into a DataFrame
final_results = pd.DataFrame({
    'League': next_matches['League'], 'Home': next_matches['Home'], 'Away': next_matches['Away'],
    'FT1': ft1, 'FTX': ftx, 'FT2': ft2, 'FTR': ft_score,
    'DC1X': [x + y for x, y in zip(ft1, ftx)], 'DC12': [x + y for x, y in zip(ft1, ft2)], 'DCX2': [x + y for x, y in zip(ftx, ft2)],
    '1.5O': over_15, '2.5O': over_25, '3.5U': under_35, '4.5U': under_45, 'BTTS': btts,
    'HT1': ht1, 'HTX': htx, 'HT2': ht2, 'HTR': ht_score,
    'HTDC1X': [x + y for x, y in zip(ht1, htx)], 'HTDC12': [x + y for x, y in zip(ht1, ht2)], 'HTDCX2': [x + y for x, y in zip(htx, ht2)],
    'HT0.5O': ht_over05, 'HT1.5U': ht_under15, 'H0.5O':ho05, 'A0.5O':ao05, 'H1.5O':ho15, 'A1.5O':ao15, 'H2.5U':hu25, 'A2.5U':au25
})

# Function to highlight values higher than threshold
def highlight_values(value):
    if isinstance(value, str):
        return ''  # Return empty string for NaN values
    elif value > threshold:
    #color = 'red'
        return 'background-color: red'
    else:
        return ''

# Apply the style
with pd.option_context('display.precision', 2):
    styled_df = final_results.style.applymap(highlight_values)
styled_df.to_excel(given_date + ".xlsx", index = False)
# Display the styled DataFrame
from IPython.display import display, HTML
display(styled_df)