# Calling Necessary Libraries AND Getting Today's Date

In [23]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from datetime import datetime, timedelta
from dateutil import parser
from scipy.stats import poisson
import warnings

warnings.filterwarnings('ignore')
pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Get today's date
given_date = "2025-02-07" #year-month-day
threshold = 70 #threshold for percentages to highlight in final dataframe (between 1 and 100)

wanted_leagues = [ 'austria', 'australia', 'belgium', 'brazil', 'denmark', 
                  'england', 'england2', 'england3', 'england4', 'england5', 'france', 'france2',
                  'germany', 'germany2', 'greece', 'italy', 'italy2',
                   'mexico2', 'netherlands', 'norway','poland', 'portugal', 'portugal2',
                   'saudiarabia','scotland', 'scotland2', 'scotland3',
                  'spain', 'spain2', 'sweden', 'switzerland', 'turkey', 'usa'] #argentina, columbia, uruguay

In [24]:
#Calculating Days between given date and today
# Today's date
today = datetime.now().date()

# Specific date
specific_date = datetime.strptime(given_date, "%Y-%m-%d").date()

# Calculate the difference in days
difference = specific_date - today

# Add one day to the difference
days_until_specific_date = difference.days + 1

# Scraping Today's Matches and Leagues

In [25]:
URL = "https://www.soccerstats.com/matches.asp?matchday=" + str(days_until_specific_date) + "&listing=2"
page = requests.get(URL)
liqa = []
soup = BeautifulSoup(page.content, "html.parser")
results = soup.find(id="btable")
sth = results.find_all("tr", attrs={'height': '34'})

# Converting Date and Collecting Leagues for Analysis

In [26]:
from dateutil import parser

day_abbreviations = {0: "Mo", 1: "Tu", 2: "We", 3: "Th", 4: "Fr", 5: "Sa", 6: "Su"}
given_date_parsed = parser.parse(given_date)

# Manually format the day to remove leading zeros
day = given_date_parsed.day
month = given_date_parsed.strftime('%b')

# Format the date as "Su 1 Oct" or "Tu 10 Oct" without leading zero for single-digit days
formatted_date = f"{day_abbreviations[given_date_parsed.weekday()]} {day} {month}"

# Scraping the Web for the League Statistics

In [27]:
final =  pd.DataFrame()
liqa = ''
unique_leagues = wanted_leagues
next_matches = pd.DataFrame()

for i in unique_leagues:
    URL = "https://www.soccerstats.com/results.asp?league=" + i + "&pmtype=bydate"
    page = requests.get(URL)
    liqa = i
    soup = BeautifulSoup(page.content, "html.parser")
    results = soup.find(id="btable")
    sth = results.find_all("tr", class_="odd")
    sth


    date, league, home, away, ft, ht = [], [], [], [], [],[]
    for i in sth:
        date.append(i.find_all("td", align = 'right')[0].get_text(strip=True))
        league.append(liqa.capitalize())
        home.append(i.find_all("td", align = 'right')[1].get_text(strip=True))
        away.append(i.find("td", align = "left").get_text(strip = True))
        ft.append(i.find_all("td", align = 'center')[0].get_text(strip = True))
        try:
            ht.append(i.find_all("td", align = 'center')[2].get_text(strip = True))
        except IndexError as e:
            ht.append('NA')#print("Last output before error occurred:", i.find_all("td", align = 'center'))

    data = {'Date': date, 'League': league,'Home': home, 'Away': away, 'FT': ft, 'HT': ht}

# Create a DataFrame from the dictionary
    df = pd.DataFrame(data)

# Replace empty strings with NaN
    next_df = df[(df['Date'] == formatted_date) & (df['HT'] == '')]
    next_matches = pd.concat([next_matches, next_df], ignore_index = True)
    df.replace('', pd.NA, inplace=True)

# Drop rows with NaN values
    df_cleaned = df.dropna()

#For Half-Time Results
    hthg, htag = [], []
    for i in df_cleaned['HT']:
        if i == 'NA':
            hthg.append('NA')
            htag.append('NA')
        elif i == '+' or i == '-':
            hthg.append('NA')
            htag.append('NA')
        else:
            try:
                hthg.append(int(i[1]))
                htag.append(int(i[3]))
            except IndexError as e:
                print("Last output before error occurred:", i)



#For Full-Time Results
    hg, ag, tg = [], [], []
    for i in df_cleaned['FT']:
        if len(i) < 5 or ':' in i:
            hg.append('NA')
            ag.append('NA')
            tg.append('NA')
        else:
            try:
                hghg = int(i.split(' - ')[0])
                hg.append(hghg)
                agag = int(i.split(' - ')[1])
                ag.append(agag)
                tg.append(hghg + agag)
            except:
                print(hghg + agag)

    
    df_cleaned['FTHG'], df_cleaned['FTAG'], df_cleaned['FTTG'] = hg, ag, tg
    df_cleaned['HTHG'], df_cleaned['HTAG'] = hthg, htag
    df_cleaned['HTTG'] = df_cleaned['HTHG'] + df_cleaned['HTAG']
    
    final = pd.concat([final, df_cleaned], ignore_index=True)
    
final = final[final['HT'] != 'NA']

# Define current year
current_year = datetime.now().year

# Function to parse and assign the correct year
def parse_date(date_str):
    # Extract day and month
    date_obj = datetime.strptime(date_str[3:], '%d %b')
    # Assign correct year
    full_date = date_obj.replace(year=current_year)
    
    # If the parsed date is already in the future, assign the previous year
    if full_date > datetime.now():
        full_date = full_date.replace(year=current_year - 1)
    
    return full_date

# Apply the function to parse dates
final['Date'] = final['Date'].apply(parse_date)

# Find the latest date for each league
latest_dates = final.groupby('League')['Date'].max().rename('latest_date')

# Merge with the original DataFrame
final = final.merge(latest_dates, on='League')

# Calculate the time difference in days
final['time_diff'] = (final['latest_date'] - final['Date']).dt.days
combined_df = pd.concat([final.head(), final.tail()])
combined_df

,Date,League,Home,Away,FT,HT,FTHG,FTAG,FTTG,HTHG,HTAG,HTTG,latest_date,time_diff
0,2024-08-02,Austria,Grazer AK,Salzburg,2 - 3,(2-3),2,3,5,2,3,5,2024-12-14,134
1,2024-08-03,Austria,Altach,Tirol,1 - 2,(0-1),1,2,3,0,1,1,2024-12-14,133
2,2024-08-03,Austria,Hartberg,LASK Linz,1 - 2,(0-1),1,2,3,0,1,1,2024-12-14,133
3,2024-08-03,Austria,Wolfsberger AC,A. Klagenfurt,4 - 1,(3-0),4,1,5,3,0,3,2024-12-14,133
4,2024-08-04,Austria,BW Linz,Austria Wien,1 - 0,(0-0),1,0,1,0,0,0,2024-12-14,132
6901,2024-10-20,Usa,Houston Dynamo,LA Galaxy,2 - 1,(1-0),2,1,3,1,0,1,2024-10-20,0
6902,2024-10-20,Usa,Los Angeles FC,SJ Earthquakes,3 - 1,(0-1),3,1,4,0,1,1,2024-10-20,0
6903,2024-10-20,Usa,Minnesota Utd,St. Louis City,4 - 1,(1-0),4,1,5,1,0,1,2024-10-20,0
6904,2024-10-20,Usa,Real Salt Lake,Vancouver,2 - 1,(0-0),2,1,3,0,0,0,2024-10-20,0
6905,2024-10-20,Usa,Seattle,Portland,1 - 1,(1-0),1,1,2,1,0,1,2024-10-20,0

In [28]:
next_leagues = next_matches['League'].unique().tolist()
pd.concat([next_matches.head(), next_matches.tail()])

        Date       League            Home            Away     FT HT
0   Fr 7 Feb      Austria      Sturm Graz    Austria Wien  19:30
1   Fr 7 Feb    Australia    Adelaide Utd  Melbourne City  08:35
2   Fr 7 Feb    Australia     Perth Glory   Central Coast  10:45
3   Fr 7 Feb      Belgium     KV Mechelen            Gent  19:45
4   Fr 7 Feb     England3       Mansfield     Northampton  19:45
22  Fr 7 Feb  Saudiarabia        Al Nassr        Al Feiha  15:20
23  Fr 7 Feb  Saudiarabia  Al Ahli Jeddah        Al Fateh  17:00
24  Fr 7 Feb        Spain  Rayo Vallecano      Valladolid  20:00
25  Fr 7 Feb       Spain2        Albacete   Real Zaragoza  19:30
26  Fr 7 Feb       Turkey      Samsunspor       Hatayspor  17:00

# Calculating Functions Needed for Dixon-Coles Model

In [29]:
from scipy.optimize import minimize
from scipy.stats import poisson

def rho_correction(x, y, lambda_x, mu_y, rho):
    if x==0 and y==0:
        return 1- (lambda_x * mu_y * rho)
    elif x==0 and y==1:
        return 1 + (lambda_x * rho)
    elif x==1 and y==0:
        return 1 + (mu_y * rho)
    elif x==1 and y==1:
        return 1 - rho
    else:
        return 1.0

def dc_log_like(x, y, alpha_x, beta_x, alpha_y, beta_y, rho, gamma):
    lambda_x, mu_y = np.exp(alpha_x + beta_y + gamma), np.exp(alpha_y + beta_x) 
    return (np.log(rho_correction(x, y, lambda_x, mu_y, rho)) + 
            np.log(poisson.pmf(x, lambda_x)) + np.log(poisson.pmf(y, mu_y)))

def solve_parameters_decay(dataset, half_or_full = 'full', xi=0.001, debug = False, init_vals=None, 
                           options={'disp': True, 'maxiter':100},
                     constraints = [{'type':'eq', 'fun': lambda x: sum(x[:20])-20}] , **kwargs):
    teams = np.sort(dataset['Home'].unique())
    # check for no weirdness in dataset
    away_teams = np.sort(dataset['Away'].unique())
    if not np.array_equal(teams, away_teams):
        raise ValueError("Home Teams Not Equal to Away Teams")
    n_teams = len(teams)
    if init_vals is None:
        # random initialisation of model parameters
        init_vals = np.concatenate((np.random.uniform(0,1,(n_teams)), # attack strength
                                      np.random.uniform(0,-1,(n_teams)), # defence strength
                                      np.array([0,1.0]) # rho (score correction), gamma (home advantage)
                                     ))
        
    def dc_log_like_decay(x, y, alpha_x, beta_x, alpha_y, beta_y, rho, gamma, t, xi=xi):
        lambda_x, mu_y = np.exp(alpha_x + beta_y + gamma), np.exp(alpha_y + beta_x) 
        return  np.exp(-xi*t) * (np.log(rho_correction(x, y, lambda_x, mu_y, rho)) + 
                                  np.log(poisson.pmf(x, lambda_x)) + np.log(poisson.pmf(y, mu_y)))

    def estimate_paramters(params):
        score_coefs = dict(zip(teams, params[:n_teams]))
        defend_coefs = dict(zip(teams, params[n_teams:(2*n_teams)]))
        rho, gamma = params[-2:]
        if half_or_full == 'full':
            log_like = [dc_log_like_decay(row.FTHG, row.FTAG, score_coefs[row.Home], defend_coefs[row.Home],
                                      score_coefs[row.Away], defend_coefs[row.Away], 
                                      rho, gamma, row.time_diff, xi=xi) for row in dataset.itertuples()]
        elif half_or_full == 'half':
            log_like = [dc_log_like_decay(row.HTHG, row.HTAG, score_coefs[row.Home], defend_coefs[row.Home],
                                      score_coefs[row.Away], defend_coefs[row.Away], 
                                      rho, gamma, row.time_diff, xi=xi) for row in dataset.itertuples()]
        return -sum(log_like)
    opt_output = minimize(estimate_paramters, init_vals, options=options, constraints = constraints)
    if debug:
        # sort of hacky way to investigate the output of the optimisation process
        return opt_output
    else:
        return dict(zip(["attack_"+team for team in teams] + 
                        ["defence_"+team for team in teams] +
                        ['rho', 'home_adv'],
                        opt_output.x))

# Calculating Lambda Values for Dixon-Coles Model

In [30]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
stats_df = pd.DataFrame()
full_time_models = []
half_time_models = []

for league in next_leagues:
    league_df = final[final['League'] == league.capitalize()]
    
    full_time_estimates = solve_parameters_decay(league_df, half_or_full = 'full')
    full_time_models.append(full_time_estimates)

    half_time_estimates = solve_parameters_decay(league_df, half_or_full = 'half')
    half_time_models.append(half_time_estimates)

Optimization terminated successfully    (Exit mode 0)
            Current function value: 246.65855000899091
            Iterations: 32
            Function evaluations: 901
            Gradient evaluations: 32
Optimization terminated successfully    (Exit mode 0)
            Current function value: 166.31840981447357
            Iterations: 30
            Function evaluations: 840
            Gradient evaluations: 30
Optimization terminated successfully    (Exit mode 0)
            Current function value: 269.4543011888602
            Iterations: 38
            Function evaluations: 1143
            Gradient evaluations: 38
Optimization terminated successfully    (Exit mode 0)
            Current function value: 191.59197076775862
            Iterations: 30
            Function evaluations: 901
            Gradient evaluations: 30
Optimization terminated successfully    (Exit mode 0)
            Current function value: 482.5237517581714
            Iterations: 41
            Function evaluations: 1488
            Gradient evaluations: 41
Optimization terminated successfully    (Exit mode 0)
            Current function value: 337.30034678057393
            Iterations: 37
            Function evaluations: 1336
            Gradient evaluations: 37
Optimization terminated successfully    (Exit mode 0)
            Current function value: 874.7626654134623
            Iterations: 69
            Function evaluations: 3613
            Gradient evaluations: 69
Optimization terminated successfully    (Exit mode 0)
            Current function value: 617.2593850745029
            Iterations: 35
            Function evaluations: 1825
            Gradient evaluations: 35
Optimization terminated successfully    (Exit mode 0)
            Current function value: 464.9341781374123
            Iterations: 38
            Function evaluations: 1530
            Gradient evaluations: 38
Optimization terminated successfully    (Exit mode 0)
            Current function value: 326.064597040892
            Iterations: 34
            Function evaluations: 1363
            Gradient evaluations: 34
Optimization terminated successfully    (Exit mode 0)
            Current function value: 470.04989501636624
            Iterations: 41
            Function evaluations: 1648
            Gradient evaluations: 41
Optimization terminated successfully    (Exit mode 0)
            Current function value: 313.4646770882134
            Iterations: 37
            Function evaluations: 1484
            Gradient evaluations: 37
Optimization terminated successfully    (Exit mode 0)
            Current function value: 494.4413372848289
            Iterations: 43
            Function evaluations: 1731
            Gradient evaluations: 43
Optimization terminated successfully    (Exit mode 0)
            Current function value: 360.9767120899452
            Iterations: 34
            Function evaluations: 1363
            Gradient evaluations: 34
Optimization terminated successfully    (Exit mode 0)
            Current function value: 498.85519111521336
            Iterations: 43
            Function evaluations: 1735
            Gradient evaluations: 43
Optimization terminated successfully    (Exit mode 0)
            Current function value: 331.59712654731146
            Iterations: 34
            Function evaluations: 1363
            Gradient evaluations: 34
Optimization terminated successfully    (Exit mode 0)
            Current function value: 576.1612615209448
            Iterations: 37
            Function evaluations: 1642
            Gradient evaluations: 37
Optimization terminated successfully    (Exit mode 0)
            Current function value: 400.8273229075744
            Iterations: 39
            Function evaluations: 1721
            Gradient evaluations: 39
Optimization terminated successfully    (Exit mode 0)
            Current function value: 591.1315103288193
            Iterations: 42
            Function evaluations: 1861
            Gradient evaluations: 42
Optimization terminated successfully    (Exit mode 0)
            Current function value: 422.8941634365419
            Iterations: 40
            Function evaluations: 1765
            Gradient evaluations: 40
Optimization terminated successfully    (Exit mode 0)
            Current function value: 422.09015281125914
            Iterations: 38
            Function evaluations: 1526
            Gradient evaluations: 38
Optimization terminated successfully    (Exit mode 0)
            Current function value: 294.95407527029477
            Iterations: 36
            Function evaluations: 1444
            Gradient evaluations: 36
Optimization terminated successfully    (Exit mode 0)
            Current function value: 445.3058066709205
            Iterations: 39
            Function evaluations: 1566
            Gradient evaluations: 39
Optimization terminated successfully    (Exit mode 0)
            Current function value: 310.82148308712806
            Iterations: 38
            Function evaluations: 1524
            Gradient evaluations: 38
Optimization terminated successfully    (Exit mode 0)
            Current function value: 441.6171497851006
            Iterations: 45
            Function evaluations: 1805
            Gradient evaluations: 45
Optimization terminated successfully    (Exit mode 0)
            Current function value: 319.70290099901666
            Iterations: 34
            Function evaluations: 1361
            Gradient evaluations: 34
Optimization terminated successfully    (Exit mode 0)
            Current function value: 402.0570171584545
            Iterations: 44
            Function evaluations: 1767
            Gradient evaluations: 44
Optimization terminated successfully    (Exit mode 0)
            Current function value: 266.46018219388236
            Iterations: 34
            Function evaluations: 1364
            Gradient evaluations: 34
Optimization terminated successfully    (Exit mode 0)
            Current function value: 529.0220042756309
            Iterations: 39
            Function evaluations: 1729
            Gradient evaluations: 39
Optimization terminated successfully    (Exit mode 0)
            Current function value: 355.4130039403653
            Iterations: 37
            Function evaluations: 1632
            Gradient evaluations: 37
Optimization terminated successfully    (Exit mode 0)
            Current function value: 681.4315090861328
            Iterations: 50
            Function evaluations: 2416
            Gradient evaluations: 50
Optimization terminated successfully    (Exit mode 0)
            Current function value: 450.8640358939139
            Iterations: 95
            Function evaluations: 4681
            Gradient evaluations: 95
Optimization terminated successfully    (Exit mode 0)
            Current function value: 522.6011055500484
            Iterations: 39
            Function evaluations: 1647
            Gradient evaluations: 39
Optimization terminated successfully    (Exit mode 0)
            Current function value: 354.6820874523145
            Iterations: 33
            Function evaluations: 1390
            Gradient evaluations: 33

In [31]:
full_time_models[-1]

{'attack_Adana Demirspor': 0.6757488099394776,
 'attack_Alanyaspor': 0.9519960562769796,
 'attack_Antalyaspor': 0.9573008671362706,
 'attack_Basaksehir': 1.3661010921255619,
 'attack_Besiktas': 1.0961831778541842,
 'attack_Bodrumspor': 0.37680164188842863,
 'attack_Eyupspor': 1.2258835122642224,
 'attack_Fenerbahce': 1.66569744529836,
 'attack_Galatasaray': 1.6592054174466317,
 'attack_Gaziantep': 0.9485711505330084,
 'attack_Goztepe': 1.337645378157444,
 'attack_Hatayspor': 0.7807961583920272,
 'attack_Kasimpasa': 1.3359204374704896,
 'attack_Kayserispor': 0.7415517524853421,
 'attack_Konyaspor': 1.0039292761343226,
 'attack_Rizespor': 0.8202508105000603,
 'attack_Samsunspor': 1.2272162865779626,
 'attack_Sivasspor': 0.9998892445675112,
 'attack_Trabzonspor': 1.2647340809662562,
 'defence_Adana Demirspor': -0.4354225960145391,
 'defence_Alanyaspor': -1.0604682068847042,
 'defence_Antalyaspor': -0.6040065320489763,
 'defence_Basaksehir': -0.8935515552677467,
 'defence_Besiktas': -1.2225337243018353,
 'defence_Bodrumspor': -0.9856927515969129,
 'defence_Eyupspor': -1.3977064882944894,
 'defence_Fenerbahce': -1.1813855653387864,
 'defence_Galatasaray': -1.2053920208970201,
 'defence_Gaziantep': -0.9924740124798745,
 'defence_Goztepe': -1.0472249086222716,
 'defence_Hatayspor': -0.6679517293032669,
 'defence_Kasimpasa': -0.5755637159173157,
 'defence_Kayserispor': -0.6066109636364083,
 'defence_Konyaspor': -0.8703719890369124,
 'defence_Rizespor': -0.8592772155732229,
 'defence_Samsunspor': -1.1991935632367694,
 'defence_Sivasspor': -0.7195474317003452,
 'defence_Trabzonspor': -1.0497688399650162,
 'rho': -0.21625457230322334,
 'home_adv': 0.292976641222254}

# Calculating Probability Matrices for Half/Full Time

In [32]:
#First Function needs work to make it more understandable and a df rather than matrix!
def dixon_coles_simulate_match(params_dict, homeTeam, awayTeam, max_goals=10):
    team_avgs = [np.exp(params_dict['attack_'+homeTeam] + params_dict['defence_'+awayTeam] + params_dict['home_adv']),
                 np.exp(params_dict['defence_'+homeTeam] + params_dict['attack_'+awayTeam])]
    team_pred = [[poisson.pmf(i, team_avg) for i in range(0, max_goals+1)] for team_avg in team_avgs]
    output_matrix = np.outer(np.array(team_pred[0]), np.array(team_pred[1]))
    correction_matrix = np.array([[rho_correction(home_goals, away_goals, team_avgs[0],
                                                   team_avgs[1], params_dict['rho']) for away_goals in range(2)]
                                   for home_goals in range(2)])
    output_matrix[:2,:2] = output_matrix[:2,:2] * correction_matrix
    return output_matrix

full_time_matrices = []
half_time_matrices = []

for i in range(len(next_matches)):
    my_league = next_matches['League'].iloc[i]
    league_index = next_leagues.index(my_league)
    ft_match_score_matrix = dixon_coles_simulate_match(full_time_models[league_index], 
                                                       next_matches['Home'].iloc[i], next_matches['Away'].iloc[i], max_goals = 8)
    ht_match_score_matrix = dixon_coles_simulate_match(half_time_models[league_index], 
                                                       next_matches['Home'].iloc[i], next_matches['Away'].iloc[i], max_goals = 4)
    full_time_matrices.append(ft_match_score_matrix)
    half_time_matrices.append(ht_match_score_matrix)

full_time_matrices[0]

array([[6.45581893e-02, 5.29288961e-02, 3.49343799e-02, 1.30870019e-02,
        3.67695703e-03, 8.26469690e-04, 1.54804671e-04, 2.48538917e-05,
        3.49150603e-06],
       [8.87172594e-02, 1.19329729e-01, 6.18620550e-02, 2.31745585e-02,
        6.51118235e-03, 1.46351856e-03, 2.74129242e-04, 4.40114529e-05,
        6.18278436e-06],
       [8.67319048e-02, 9.74736582e-02, 5.47728893e-02, 2.05188387e-02,
        5.76502462e-03, 1.29580468e-03, 2.42715031e-04, 3.89679010e-05,
        5.47425984e-06],
       [5.11951634e-02, 5.75356885e-02, 3.23307440e-02, 1.21116364e-02,
        3.40291589e-03, 7.64873459e-04, 1.43267183e-04, 2.30015479e-05,
        3.23128643e-06],
       [2.26641923e-02, 2.54711543e-02, 1.43128794e-02, 5.36184355e-03,
        1.50647707e-03, 3.38610876e-04, 6.34246434e-05, 1.01828272e-05,
        1.43049640e-06],
       [8.02678342e-03, 9.02090119e-03, 5.06907026e-03, 1.89895834e-03,
        5.33536120e-04, 1.19922922e-04, 2.24625643e-05, 3.60636495e-06,
        5.06626693e-07],
       [2.36898111e-03, 2.66237961e-03, 1.49605777e-03, 5.60448215e-04,
        1.57464943e-04, 3.53933977e-05, 6.62947880e-06, 1.06436290e-06,
        1.49523041e-07],
       [5.99287006e-04, 6.73508750e-04, 3.78461431e-04, 1.41777970e-04,
        3.98342957e-05, 8.95355528e-06, 1.67707564e-06, 2.69254513e-07,
        3.78252132e-08],
       [1.32652726e-04, 1.49081776e-04, 8.37727832e-05, 3.13826830e-05,
        8.81735770e-06, 1.98187763e-06, 3.71222223e-07, 5.95997321e-08,
        8.37264546e-09]])

# Calculating Probabilities of Dixon-Coles Model

In [33]:
ft1, ftx, ft2, ft_score = [], [], [], []
over_15, over_25, under_35, under_45, btts = [], [], [], [], []
ht1, htx, ht2, ht_score, ht_over05, ht_under15 = [], [], [], [], [], []
ho05, ao05, ho15, ao15, hu25, au25 = [], [], [], [], [], []

# Helper function to calculate total goals for each score
def total_goals(i, j):
    return i + j

for i in range(len(next_matches)):
    my_matrix = full_time_matrices[i]
    ht_matrix = half_time_matrices[i]

    ft1.append(round(np.sum(np.tril(my_matrix, k=-1)) * 100, 2)) # Sum of lower triangular values (home win)
    ftx.append(round(np.sum(np.diag(my_matrix)) * 100, 2)) # Sum of diagonal values (draw)
    ft2.append(round(np.sum(np.triu(my_matrix, k=1)) * 100, 2)) # Sum of higher triangular values (away_win)
    
    max_score = np.unravel_index(np.argmax(my_matrix), my_matrix.shape) # Find the index of the maximum score
    home_goals, away_goals = max_score
    ft_score.append(f"{home_goals}-{away_goals}") # Format the score as 'home-away'

    # Calculate the probabilities
    over_15.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) > 1.5]) * 100, 2))
    over_25.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) > 2.5]) * 100, 2))
    under_35.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) <= 3.5]) * 100, 2))
    under_45.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) <= 4.5]) * 100, 2))

    # Calculate BTTS (both teams to score and goals != 0)
    btts.append(round(np.sum([my_matrix[i, j] for i in range(1, my_matrix.shape[0]) for j in range(1, my_matrix.shape[1])]) * 100, 2)) 

    # Calculate statistics for Half Time
    ht1.append(round(np.sum(np.tril(ht_matrix, k=-1)) * 100, 2)) # Sum of lower triangular values (home win)
    htx.append(round(np.sum(np.diag(ht_matrix)) * 100, 2)) # Sum of diagonal values (draw)
    ht2.append(round(np.sum(np.triu(ht_matrix, k=1)) * 100, 2)) # Sum of higher triangular values (away_win)

    ht_max_score = np.unravel_index(np.argmax(ht_matrix), ht_matrix.shape) # Find the index of the maximum score
    ht_hogs, ht_awgs = ht_max_score
    ht_score.append(f"{ht_hogs}-{ht_awgs}") # Format the score as 'home-away'

    ht_over05.append(round(np.sum([ht_matrix[i, j] for i in range(ht_matrix.shape[0]) for j in range(ht_matrix.shape[1]) if total_goals(i, j) > 0.5]) * 100, 2))   
    ht_under15.append(round(np.sum([ht_matrix[i, j] for i in range(ht_matrix.shape[0]) for j in range(ht_matrix.shape[1]) if total_goals(i, j) < 1.5]) * 100, 2)) 

    ho05.append(round(np.sum(my_matrix[1:,:]) * 100, 2))
    ao05.append(round(np.sum(my_matrix[:,1:]) * 100, 2))
    ho15.append(round(np.sum(my_matrix[2:,:]) * 100, 2))
    ao15.append(round(np.sum(my_matrix[:,2:]) * 100, 2))
    hu25.append(round(np.sum(my_matrix[:3,:]) * 100, 2))
    au25.append(round(np.sum(my_matrix[:,:3]) * 100, 2))
    

# Combine lists into a DataFrame
final_results = pd.DataFrame({
    'League': next_matches['League'], 'Home': next_matches['Home'], 'Away': next_matches['Away'],
    'FT1': ft1, 'FTX': ftx, 'FT2': ft2, 'FTR': ft_score,
    'DC1X': [x + y for x, y in zip(ft1, ftx)], 'DC12': [x + y for x, y in zip(ft1, ft2)], 'DCX2': [x + y for x, y in zip(ftx, ft2)],
    '1.5O': over_15, '2.5O': over_25, '3.5U': under_35, '4.5U': under_45, 'BTTS': btts,
    'HT1': ht1, 'HTX': htx, 'HT2': ht2, 'HTR': ht_score,
    'HTDC1X': [x + y for x, y in zip(ht1, htx)], 'HTDC12': [x + y for x, y in zip(ht1, ht2)], 'HTDCX2': [x + y for x, y in zip(htx, ht2)],
    'HT0.5O': ht_over05, 'HT1.5U': ht_under15, 'H0.5O':ho05, 'A0.5O':ao05, 'H1.5O':ho15, 'A1.5O':ao15, 'H2.5U':hu25, 'A2.5U':au25
})

# Function to highlight values higher than threshold
def highlight_values(value):
    if isinstance(value, str):
        return ''  # Return empty string for NaN values
    elif value > threshold:
    #color = 'red'
        return 'background-color: red'
    else:
        return ''

# Apply the style
with pd.option_context('display.precision', 2):
    styled_df = final_results.style.applymap(highlight_values)
styled_df.to_excel(given_date + ".xlsx", index = False)
# Display the styled DataFrame
from IPython.display import display, HTML
display(styled_df)