# Calling Necessary Libraries AND Getting Today's Date

In [2]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from datetime import datetime, timedelta
from dateutil import parser
from scipy.stats import poisson
import warnings

warnings.filterwarnings('ignore')
pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Get today's date
given_date = "2025-03-18" #year-month-day
threshold = 70 #threshold for percentages to highlight in final dataframe (between 1 and 100)

wanted_leagues = ['argentina','austria', 'australia', 'belgium', 'brazil', 'colombia','denmark', 
                  'england', 'england2', 'england3', 'england4', 'england5', 'france', 'france2',
                  'germany', 'germany2', 'greece', 'italy', 'italy2',
                   'mexico2', 'netherlands', 'norway','poland', 'portugal', 'portugal2',
                   'saudiarabia','scotland', 'spain', 'spain2', 'sweden', 'switzerland', 'turkey']
# urug, peru, ecuado, usa, japan, korea

In [3]:
#Calculating Days between given date and today
# Today's date
today = datetime.now().date()

# Specific date
specific_date = datetime.strptime(given_date, "%Y-%m-%d").date()

# Calculate the difference in days
difference = specific_date - today

# Add one day to the difference
days_until_specific_date = difference.days + 1

# Scraping Today's Matches and Leagues

In [4]:
URL = "https://www.soccerstats.com/matches.asp?matchday=" + str(days_until_specific_date) + "&listing=2"
page = requests.get(URL)
liqa = []
soup = BeautifulSoup(page.content, "html.parser")
results = soup.find(id="btable")
sth = results.find_all("tr", attrs={'height': '34'})

# Converting Date and Collecting Leagues for Analysis

In [5]:
from dateutil import parser

day_abbreviations = {0: "Mo", 1: "Tu", 2: "We", 3: "Th", 4: "Fr", 5: "Sa", 6: "Su"}
given_date_parsed = parser.parse(given_date)

# Manually format the day to remove leading zeros
day = given_date_parsed.day
month = given_date_parsed.strftime('%b')

# Format the date as "Su 1 Oct" or "Tu 10 Oct" without leading zero for single-digit days
formatted_date = f"{day_abbreviations[given_date_parsed.weekday()]} {day} {month}"
print(formatted_date)

Tu 18 Mar

# Scraping the Web for the League Statistics

In [6]:
final =  pd.DataFrame()
liqa = ''
unique_leagues = wanted_leagues
next_matches = pd.DataFrame()

for i in unique_leagues:
    URL = "https://www.soccerstats.com/results.asp?league=" + i + "&pmtype=bydate"
    page = requests.get(URL)
    liqa = i
    soup = BeautifulSoup(page.content, "html.parser")
    results = soup.find(id="btable")
    sth = results.find_all("tr", class_="odd")
    sth


    date, league, home, away, ft, ht = [], [], [], [], [],[]
    for i in sth:
        date.append(i.find_all("td", align = 'right')[0].get_text(strip=True))
        league.append(liqa.capitalize())
        home.append(i.find_all("td", align = 'right')[1].get_text(strip=True))
        away.append(i.find("td", align = "left").get_text(strip = True))
        ft.append(i.find_all("td", align = 'center')[0].get_text(strip = True))
        try:
            ht.append(i.find_all("td", align = 'center')[2].get_text(strip = True))
        except IndexError as e:
            ht.append('NA')#print("Last output before error occurred:", i.find_all("td", align = 'center'))

    data = {'Date': date, 'League': league,'Home': home, 'Away': away, 'FT': ft, 'HT': ht}

# Create a DataFrame from the dictionary
    df = pd.DataFrame(data)

# Replace empty strings with NaN
    next_df = df[(df['Date'] == formatted_date) & (df['HT'] == '')]
    next_matches = pd.concat([next_matches, next_df], ignore_index = True)
    df.replace('', pd.NA, inplace=True)

# Drop rows with NaN values
    df_cleaned = df.dropna()

#For Half-Time Results
    hthg, htag = [], []
    for i in df_cleaned['HT']:
        if i == 'NA':
            hthg.append('NA')
            htag.append('NA')
        elif i == '+' or i == '-':
            hthg.append('NA')
            htag.append('NA')
        else:
            try:
                hthg.append(int(i[1]))
                htag.append(int(i[3]))
            except IndexError as e:
                print("Last output before error occurred:", i)



#For Full-Time Results
    hg, ag, tg = [], [], []
    for i in df_cleaned['FT']:
        if len(i) < 5 or ':' in i:
            hg.append('NA')
            ag.append('NA')
            tg.append('NA')
        else:
            try:
                hghg = int(i.split(' - ')[0])
                hg.append(hghg)
                agag = int(i.split(' - ')[1])
                ag.append(agag)
                tg.append(hghg + agag)
            except:
                print(hghg + agag)

    
    df_cleaned['FTHG'], df_cleaned['FTAG'], df_cleaned['FTTG'] = hg, ag, tg
    df_cleaned['HTHG'], df_cleaned['HTAG'] = hthg, htag
    df_cleaned['HTTG'] = df_cleaned['HTHG'] + df_cleaned['HTAG']
    
    final = pd.concat([final, df_cleaned], ignore_index=True)
    
final = final[final['HT'] != 'NA']

# Define current year
current_year = datetime.now().year

# Function to parse and assign the correct year
def parse_date(date_str):
    # Extract day and month
    date_obj = datetime.strptime(date_str[3:], '%d %b')
    # Assign correct year
    full_date = date_obj.replace(year=current_year)
    
    # If the parsed date is already in the future, assign the previous year
    if full_date > datetime.now():
        full_date = full_date.replace(year=current_year - 1)
    
    return full_date

# Apply the function to parse dates
final['Date'] = final['Date'].apply(parse_date)

# Find the latest date for each league
latest_dates = final.groupby('League')['Date'].max().rename('latest_date')

# Merge with the original DataFrame
final = final.merge(latest_dates, on='League')

# Calculate the time difference in days
final['time_diff'] = (final['latest_date'] - final['Date']).dt.days
combined_df = pd.concat([final.head(), final.tail()])
combined_df

,Date,League,Home,Away,FT,HT,FTHG,FTAG,FTTG,HTHG,HTAG,HTTG,latest_date,time_diff
0,2025-01-23,Argentina,Godoy Cruz,Rosario Central,0 - 3,(0-2),0.0,3.0,3.0,0.0,2.0,2.0,2025-03-18,54
1,2025-01-23,Argentina,Tigre,Velez Sarsfield,3 - 0,(2-0),3.0,0.0,3.0,2.0,0.0,2.0,2025-03-18,54
2,2025-01-24,Argentina,Defensa y J.,Banfield,0 - 1,(0-0),0.0,1.0,1.0,0.0,0.0,0.0,2025-03-18,53
3,2025-01-24,Argentina,Lanus,D. Riestra,0 - 2,(0-0),0.0,2.0,2.0,0.0,0.0,0.0,2025-03-18,53
4,2025-01-24,Argentina,Newells,I. Rivadavia,0 - 1,(0-1),0.0,1.0,1.0,0.0,1.0,1.0,2025-03-18,53
7505,2025-03-15,Turkey,Konyaspor,Besiktas,1 - 0,(1-0),1.0,0.0,1.0,1.0,0.0,1.0,2025-03-16,1
7506,2025-03-16,Turkey,Rizespor,Bodrumspor,0 - 2,(0-1),0.0,2.0,2.0,0.0,1.0,1.0,2025-03-16,0
7507,2025-03-16,Turkey,Goztepe,Eyupspor,1 - 1,(0-0),1.0,1.0,2.0,0.0,0.0,0.0,2025-03-16,0
7508,2025-03-16,Turkey,Hatayspor,Sivasspor,3 - 2,(1-1),3.0,2.0,5.0,1.0,1.0,2.0,2025-03-16,0
7509,2025-03-16,Turkey,Fenerbahce,Samsunspor,0 - 0,(0-0),0.0,0.0,0.0,0.0,0.0,0.0,2025-03-16,0

In [7]:
next_leagues = next_matches['League'].unique().tolist()
pd.concat([next_matches.head(), next_matches.tail()])

        Date    League            Home            Away     FT HT
0  Tu 18 Mar  England3       Rotherham         Wycombe  19:45
1  Tu 18 Mar  England5       AFC Fylde      Sutton Utd  19:45
2  Tu 18 Mar  England5      Altrincham      Wealdstone  19:45
3  Tu 18 Mar  England5    Gateshead FC  Braintree Town  19:45
4  Tu 18 Mar  England5    Halifax Town   Dagenham & R.  19:45
2  Tu 18 Mar  England5      Altrincham      Wealdstone  19:45
3  Tu 18 Mar  England5    Gateshead FC  Braintree Town  19:45
4  Tu 18 Mar  England5    Halifax Town   Dagenham & R.  19:45
5  Tu 18 Mar  England5  Maidenhead Utd  Aldershot Town  19:45
6  Tu 18 Mar  England5        Rochdale      Boston Utd  19:45

# Calculating Functions Needed for Dixon-Coles Model

In [8]:
from scipy.optimize import minimize
from scipy.stats import poisson

def rho_correction(x, y, lambda_x, mu_y, rho):
    if x==0 and y==0:
        return 1- (lambda_x * mu_y * rho)
    elif x==0 and y==1:
        return 1 + (lambda_x * rho)
    elif x==1 and y==0:
        return 1 + (mu_y * rho)
    elif x==1 and y==1:
        return 1 - rho
    else:
        return 1.0

def dc_log_like(x, y, alpha_x, beta_x, alpha_y, beta_y, rho, gamma):
    lambda_x, mu_y = np.exp(alpha_x + beta_y + gamma), np.exp(alpha_y + beta_x) 
    return (np.log(rho_correction(x, y, lambda_x, mu_y, rho)) + 
            np.log(poisson.pmf(x, lambda_x)) + np.log(poisson.pmf(y, mu_y)))

def solve_parameters_decay(dataset, half_or_full = 'full', xi=0.001, debug = False, init_vals=None, 
                           options={'disp': True, 'maxiter':100},
                     constraints = [{'type':'eq', 'fun': lambda x: sum(x[:20])-20}] , **kwargs):
    teams = np.sort(dataset['Home'].unique())
    # check for no weirdness in dataset
    away_teams = np.sort(dataset['Away'].unique())
    if not np.array_equal(teams, away_teams):
        raise ValueError("Home Teams Not Equal to Away Teams")
    n_teams = len(teams)
    if init_vals is None:
        # random initialisation of model parameters
        init_vals = np.concatenate((np.random.uniform(0,1,(n_teams)), # attack strength
                                      np.random.uniform(0,-1,(n_teams)), # defence strength
                                      np.array([0,1.0]) # rho (score correction), gamma (home advantage)
                                     ))
        
    def dc_log_like_decay(x, y, alpha_x, beta_x, alpha_y, beta_y, rho, gamma, t, xi=xi):
        lambda_x, mu_y = np.exp(alpha_x + beta_y + gamma), np.exp(alpha_y + beta_x) 
        return  np.exp(-xi*t) * (np.log(rho_correction(x, y, lambda_x, mu_y, rho)) + 
                                  np.log(poisson.pmf(x, lambda_x)) + np.log(poisson.pmf(y, mu_y)))

    def estimate_paramters(params):
        score_coefs = dict(zip(teams, params[:n_teams]))
        defend_coefs = dict(zip(teams, params[n_teams:(2*n_teams)]))
        rho, gamma = params[-2:]
        if half_or_full == 'full':
            log_like = [dc_log_like_decay(row.FTHG, row.FTAG, score_coefs[row.Home], defend_coefs[row.Home],
                                      score_coefs[row.Away], defend_coefs[row.Away], 
                                      rho, gamma, row.time_diff, xi=xi) for row in dataset.itertuples()]
        elif half_or_full == 'half':
            log_like = [dc_log_like_decay(row.HTHG, row.HTAG, score_coefs[row.Home], defend_coefs[row.Home],
                                      score_coefs[row.Away], defend_coefs[row.Away], 
                                      rho, gamma, row.time_diff, xi=xi) for row in dataset.itertuples()]
        return -sum(log_like)
    opt_output = minimize(estimate_paramters, init_vals, options=options, constraints = constraints)
    if debug:
        # sort of hacky way to investigate the output of the optimisation process
        return opt_output
    else:
        return dict(zip(["attack_"+team for team in teams] + 
                        ["defence_"+team for team in teams] +
                        ['rho', 'home_adv'],
                        opt_output.x))

# Calculating Lambda Values for Dixon-Coles Model

In [10]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
stats_df = pd.DataFrame()
full_time_models = []
half_time_models = []

for league in next_leagues:
    league_df = final[final['League'] == league.capitalize()]
    
    full_time_estimates = solve_parameters_decay(league_df, half_or_full = 'full')
    full_time_models.append(full_time_estimates)

    half_time_estimates = solve_parameters_decay(league_df, half_or_full = 'half')
    half_time_models.append(half_time_estimates)

Optimization terminated successfully    (Exit mode 0)
            Current function value: 1104.655260236413
            Iterations: 68
            Function evaluations: 3567
            Gradient evaluations: 68
Optimization terminated successfully    (Exit mode 0)
            Current function value: 773.6867899598843
            Iterations: 83
            Function evaluations: 4346
            Gradient evaluations: 83
Optimization terminated successfully    (Exit mode 0)
            Current function value: 1115.5889479300822
            Iterations: 67
            Function evaluations: 3516
            Gradient evaluations: 67
Optimization terminated successfully    (Exit mode 0)
            Current function value: 760.8606578596927
            Iterations: 37
            Function evaluations: 1931
            Gradient evaluations: 37

In [11]:
full_time_models[-1]

{'attack_AFC Fylde': 0.8459862675766608,
 'attack_Aldershot Town': 1.2082185960960226,
 'attack_Altrincham': 1.1983256301014893,
 'attack_Barnet': 1.4825006263829612,
 'attack_Boston Utd': 0.7826637106194477,
 'attack_Braintree Town': 0.745854866324922,
 'attack_Dagenham & R.': 0.9794631140918179,
 'attack_Eastleigh': 0.9925964493541977,
 'attack_Ebbsfleet Utd': 0.42141887704932807,
 'attack_Forest Green': 1.1508969694711417,
 'attack_Gateshead FC': 1.2504971335348523,
 'attack_Halifax Town': 0.9842088599537953,
 'attack_Hartlepool': 0.865239762760378,
 'attack_Maidenhead Utd': 0.9054764601144359,
 'attack_Oldham': 1.0590939805730186,
 'attack_Rochdale': 1.075993702321966,
 'attack_Solihull Moors': 1.0327005272885468,
 'attack_Southend Utd': 1.0037425687543229,
 'attack_Sutton Utd': 0.9900286958958385,
 'attack_Tamworth': 1.0250932017348588,
 'attack_Wealdstone': 0.9745674231491722,
 'attack_Woking': 0.794178619751028,
 'attack_Yeovil Town': 0.7897192185394258,
 'attack_York City': 1.3492221789918761,
 'defence_AFC Fylde': -0.47025188114118444,
 'defence_Aldershot Town': -0.6159942098190212,
 'defence_Altrincham': -0.885096003047683,
 'defence_Barnet': -1.2854839320313083,
 'defence_Boston Utd': -0.753561095085359,
 'defence_Braintree Town': -0.8253288824539107,
 'defence_Dagenham & R.': -0.7036764857624233,
 'defence_Eastleigh': -0.9007502504405528,
 'defence_Ebbsfleet Utd': -0.39675606244857414,
 'defence_Forest Green': -1.2831574443073037,
 'defence_Gateshead FC': -0.8123421195131865,
 'defence_Halifax Town': -1.2341598238428195,
 'defence_Hartlepool': -0.8797847309400741,
 'defence_Maidenhead Utd': -0.5423766384436249,
 'defence_Oldham': -1.0811382452373024,
 'defence_Rochdale': -1.2550533778632176,
 'defence_Solihull Moors': -0.7153806726423753,
 'defence_Southend Utd': -1.0008488036198204,
 'defence_Sutton Utd': -0.8357221910884269,
 'defence_Tamworth': -0.7012047047625349,
 'defence_Wealdstone': -0.5259015728648778,
 'defence_Woking': -0.8218597716690995,
 'defence_Yeovil Town': -0.8061788353594895,
 'defence_York City': -1.1365771253566455,
 'rho': -0.09742919398329739,
 'home_adv': 0.18738917989828446}

# Calculating Probability Matrices for Half/Full Time

In [12]:
#First Function needs work to make it more understandable and a df rather than matrix!
def dixon_coles_simulate_match(params_dict, homeTeam, awayTeam, max_goals=10):
    team_avgs = [np.exp(params_dict['attack_'+homeTeam] + params_dict['defence_'+awayTeam] + params_dict['home_adv']),
                 np.exp(params_dict['defence_'+homeTeam] + params_dict['attack_'+awayTeam])]
    team_pred = [[poisson.pmf(i, team_avg) for i in range(0, max_goals+1)] for team_avg in team_avgs]
    output_matrix = np.outer(np.array(team_pred[0]), np.array(team_pred[1]))
    correction_matrix = np.array([[rho_correction(home_goals, away_goals, team_avgs[0],
                                                   team_avgs[1], params_dict['rho']) for away_goals in range(2)]
                                   for home_goals in range(2)])
    output_matrix[:2,:2] = output_matrix[:2,:2] * correction_matrix
    return output_matrix

full_time_matrices = []
half_time_matrices = []

for i in range(len(next_matches)):
    my_league = next_matches['League'].iloc[i]
    league_index = next_leagues.index(my_league)
    ft_match_score_matrix = dixon_coles_simulate_match(full_time_models[league_index], 
                                                       next_matches['Home'].iloc[i], next_matches['Away'].iloc[i], max_goals = 8)
    ht_match_score_matrix = dixon_coles_simulate_match(half_time_models[league_index], 
                                                       next_matches['Home'].iloc[i], next_matches['Away'].iloc[i], max_goals = 4)
    full_time_matrices.append(ft_match_score_matrix)
    half_time_matrices.append(ht_match_score_matrix)

full_time_matrices[0]

array([[1.07900276e-01, 1.33059225e-01, 9.28876732e-02, 4.16273210e-02,
        1.39913655e-02, 3.76211209e-03, 8.42989397e-04, 1.61907029e-04,
        2.72092988e-05],
       [9.05386849e-02, 1.33730179e-01, 8.64535858e-02, 3.87439048e-02,
        1.30222200e-02, 3.50152037e-03, 7.84597715e-04, 1.50692151e-04,
        2.53245815e-05],
       [4.45168753e-02, 5.98502964e-02, 4.02325854e-02, 1.80301076e-02,
        6.06010237e-03, 1.62948958e-03, 3.65125337e-04, 7.01270488e-05,
        1.17852068e-05],
       [1.38111024e-02, 1.85682074e-02, 1.24819263e-02, 5.59373633e-03,
        1.88011162e-03, 5.05539693e-04, 1.13278018e-04, 2.17565102e-05,
        3.65629207e-06],
       [3.21361082e-03, 4.32050899e-03, 2.90433394e-03, 1.30156819e-03,
        4.37470294e-04, 1.17630569e-04, 2.63578862e-05, 5.06237334e-06,
        8.50757557e-07],
       [5.98202472e-04, 8.04247714e-04, 5.40631656e-04, 2.42282390e-04,
        8.14335730e-05, 2.18965210e-05, 4.90642879e-06, 9.42343182e-07,
        1.58365559e-07],
       [9.27944238e-05, 1.24756595e-04, 8.38639180e-05, 3.75833532e-05,
        1.26321469e-05, 3.39663433e-06, 7.61095540e-07, 1.46178254e-07,
        2.45659981e-08],
       [1.23381136e-05, 1.65878614e-05, 1.11506975e-05, 4.99715031e-06,
        1.67959299e-06, 4.51622616e-07, 1.01196633e-07, 1.94361238e-08,
        3.26633934e-09],
       [1.43543558e-06, 1.92985793e-06, 1.29728971e-06, 5.81376339e-07,
        1.95406494e-07, 5.25424865e-08, 1.17733757e-08, 2.26122925e-09,
        3.80011064e-10]])

# Calculating Probabilities of Dixon-Coles Model

In [13]:
ft1, ftx, ft2, ft_score = [], [], [], []
over_15, over_25, under_35, under_45, btts = [], [], [], [], []
ht1, htx, ht2, ht_score, ht_over05, ht_under15 = [], [], [], [], [], []
ho05, ao05, ho15, ao15, hu25, au25 = [], [], [], [], [], []

# Helper function to calculate total goals for each score
def total_goals(i, j):
    return i + j

for i in range(len(next_matches)):
    my_matrix = full_time_matrices[i]
    ht_matrix = half_time_matrices[i]

    ft1.append(round(np.sum(np.tril(my_matrix, k=-1)) * 100, 2)) # Sum of lower triangular values (home win)
    ftx.append(round(np.sum(np.diag(my_matrix)) * 100, 2)) # Sum of diagonal values (draw)
    ft2.append(round(np.sum(np.triu(my_matrix, k=1)) * 100, 2)) # Sum of higher triangular values (away_win)
    
    max_score = np.unravel_index(np.argmax(my_matrix), my_matrix.shape) # Find the index of the maximum score
    home_goals, away_goals = max_score
    ft_score.append(f"{home_goals}-{away_goals}") # Format the score as 'home-away'

    # Calculate the probabilities
    over_15.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) > 1.5]) * 100, 2))
    over_25.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) > 2.5]) * 100, 2))
    under_35.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) <= 3.5]) * 100, 2))
    under_45.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) <= 4.5]) * 100, 2))

    # Calculate BTTS (both teams to score and goals != 0)
    btts.append(round(np.sum([my_matrix[i, j] for i in range(1, my_matrix.shape[0]) for j in range(1, my_matrix.shape[1])]) * 100, 2)) 

    # Calculate statistics for Half Time
    ht1.append(round(np.sum(np.tril(ht_matrix, k=-1)) * 100, 2)) # Sum of lower triangular values (home win)
    htx.append(round(np.sum(np.diag(ht_matrix)) * 100, 2)) # Sum of diagonal values (draw)
    ht2.append(round(np.sum(np.triu(ht_matrix, k=1)) * 100, 2)) # Sum of higher triangular values (away_win)

    ht_max_score = np.unravel_index(np.argmax(ht_matrix), ht_matrix.shape) # Find the index of the maximum score
    ht_hogs, ht_awgs = ht_max_score
    ht_score.append(f"{ht_hogs}-{ht_awgs}") # Format the score as 'home-away'

    ht_over05.append(round(np.sum([ht_matrix[i, j] for i in range(ht_matrix.shape[0]) for j in range(ht_matrix.shape[1]) if total_goals(i, j) > 0.5]) * 100, 2))   
    ht_under15.append(round(np.sum([ht_matrix[i, j] for i in range(ht_matrix.shape[0]) for j in range(ht_matrix.shape[1]) if total_goals(i, j) < 1.5]) * 100, 2)) 

    ho05.append(round(np.sum(my_matrix[1:,:]) * 100, 2))
    ao05.append(round(np.sum(my_matrix[:,1:]) * 100, 2))
    ho15.append(round(np.sum(my_matrix[2:,:]) * 100, 2))
    ao15.append(round(np.sum(my_matrix[:,2:]) * 100, 2))
    hu25.append(round(np.sum(my_matrix[:3,:]) * 100, 2))
    au25.append(round(np.sum(my_matrix[:,:3]) * 100, 2))
    

# Combine lists into a DataFrame
final_results = pd.DataFrame({
    'League': next_matches['League'], 'Home': next_matches['Home'], 'Away': next_matches['Away'],
    'FT1': ft1, 'FTX': ftx, 'FT2': ft2, 'FTR': ft_score,
    'DC1X': [x + y for x, y in zip(ft1, ftx)], 'DC12': [x + y for x, y in zip(ft1, ft2)], 'DCX2': [x + y for x, y in zip(ftx, ft2)],
    '1.5O': over_15, '2.5O': over_25, '3.5U': under_35, '4.5U': under_45, 'BTTS': btts,
    'HT1': ht1, 'HTX': htx, 'HT2': ht2, 'HTR': ht_score,
    'HTDC1X': [x + y for x, y in zip(ht1, htx)], 'HTDC12': [x + y for x, y in zip(ht1, ht2)], 'HTDCX2': [x + y for x, y in zip(htx, ht2)],
    'HT0.5O': ht_over05, 'HT1.5U': ht_under15, 'H0.5O':ho05, 'A0.5O':ao05, 'H1.5O':ho15, 'A1.5O':ao15, 'H2.5U':hu25, 'A2.5U':au25
})

# Function to highlight values higher than threshold
def highlight_values(value):
    if isinstance(value, str):
        return ''  # Return empty string for NaN values
    elif value > threshold:
    #color = 'red'
        return 'background-color: red'
    else:
        return ''

# Apply the style
with pd.option_context('display.precision', 2):
    styled_df = final_results.style.applymap(highlight_values)
styled_df.to_excel(given_date + ".xlsx", index = False)
# Display the styled DataFrame
from IPython.display import display, HTML
display(styled_df)